.site-title{
  font-size: 20px;
 }
 .site-header {
   grid-row: 1;
   grid-column: 1/5;
 }
 
 .flex-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-direction: row;
 } 
 
 .hamburgerImg {
   width: 25px;
   height: 25px; 
 }
 
 
 @media screen and (min-width: 1024px) {
   /* .site-header {
     grid-row: 1/3;
     grid-column: 1/5;
   } */
 
   /* flex-wrapper {
     margin: 200px;
   }  */
 
 
 }