ul {
    list-style: none;
}

fieldset {
    border: none;
    background-color: rgb(229,229,229);
}

.submit-btn {
    background-color: rgb(240, 145, 26);
    border: none;
    padding: 15px 10px;
    width: 100%;
    margin: 30px 0;
    border-radius: 3px;
}

.submit-btn:hover {
    cursor: pointer;
}

.error {
    color: red;
    text-align: center;
    margin-top: 30px;
}

li {
    margin-bottom: 30px;
}

label {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }