.how-it-works {
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.img-subheading {
  font-weight: bold;
}

.card-1, .card-2, .card-3 {
padding: 20px
}

@media screen and (min-width: 1024px) {

.how-it-works{
margin: auto;
}

  .image-cards {
      display: flex;

    }
  
    /* .card-1 {
      grid-column: 1;
      grid-row: 4;
    }
  
    .card-2 {
      grid-column: 2;
      grid-row: 4;
    }
  
    .card-3 {
      grid-column: 3;
      grid-row: 4;
    } */
}    