footer {
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: rgb(238, 238, 238);
  margin-top: 20px;
  padding: 20px;
}

a {
  color: rgb(0, 0, 0);
}

@media screen and (min-width: 1024px) {
  footer {
    align-self: end;
    justify-content: space-between;
    display: flex;
    padding: 20px;
    /* /* grid-column-start: 1; 
    grid-column-end: 5; */
  }
}
