.hero-section {
  display: grid;
    align-items: center;
    justify-content: center;
}

.hero-img {
  grid-column: 1 / 2;
  grid-row: 2;
  max-width: 600px;
}

.discover {
  background-color: rgb(240, 145, 26);
  padding: 10px;
  font-size: 22px;
  grid-column: 1 / 2;
  grid-row: 3;
}

.phone-number {
  color: white;
}

@media screen and (min-width: 1024px) {
  .discover {
    grid-column: 2 / 3;
    grid-row: 2;
    margin: 230px 30px 230px 30px;
  }
}
